<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DressMart</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
  {% include 'header.html' %}

  <main>
    <div class="row">
      <div class="col-md-3">
        <div class="card producto">
          <img class="card-img-top" src="/static/img/productos/img1.jpg">
          <div class="card-body">
            <h5 class="card-title">T-Shirt Negra - Hombre</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card producto">
          <img class="card-img-top" src="/static/img/productos/img2.jpg">
          <div class="card-body">
            <h5 class="card-title">T-Shirt Azul - Hombre</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card producto">
          <img class="card-img-top" src="/static/img/productos/img3.jpg">
          <div class="card-body">
            <h5 class="card-title">T-Shirt Blanca - Hombre</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card producto">
          <img class="card-img-top" src="/static/img/productos/img4.jpg">
          <div class="card-body">
            <h5 class="card-title">T-Shirt Roja - Hombre</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="card producto">
          <img class="card-img-top" src="/static/img/productos/img5.jpg">
          <div class="card-body">
            <h5 class="card-title">T-Shirt Amaranth Coral Heather - Mujer</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card producto">
          <img class="card-img-top" src="/static/img/productos/img6.jpg">
          <div class="card-body">
            <h5 class="card-title">T-Shirt Shallow Water - Mujer</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card producto">
          <img class="card-img-top" src="/static/img/productos/img7.jpg">
          <div class="card-body">
            <h5 class="card-title">T-Shirt Bright Sulphur Heather - Mujer</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card producto">
          <img class="card-img-top" src="/static/img/productos/img8.jpg">
          <div class="card-body">
            <h5 class="card-title">T-Shirt Odyssey Gray Heather - Mujer</h5>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>